<div id="booking-information" class="main-container" ng-controller="PassengersCtrl">
    <h4>Thông tin hành khách</h4>
    <div class="booking-contact" ng-repeat="passenger in bookingInfor.passengers">
        <div class="row passenger-infor">
            <div class="col-md-2">
                <p>Hành khách</p>
            </div>
            <div class="col-md-2">
                <select class="input-normal" ng-model="passenger.title">
                    <option>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" placeholder="Họ" class="input-normal" ng-model="passenger.firstName"/>
            </div>
            <div class="col-md-5">
                <input type="text" placeholder="Tên" class="input-normal float-right" ng-model="passenger.lastName"/>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-round float-right" ng-click="continueBooking()">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp;&nbsp;Tiếp tục đặt vé</button>
    </div>
</div>