<div id="booking-information" class="main-container">
    <div class="booking-contact">
        <h4>1. Thông tin người liên hệ</h4>
        <div class="row">
            <p class="label-input">Họ và tên(*)</p>
            <input type="text" class="input-primary input-contact-infor"/>
        </div>
        <div class="row">
            <p class="label-input">Số điện thoại(*)</p>
            <input type="text" class="input-primary input-contact-infor"/>
        </div>
        <div class="row">
            <p class="label-input">Địa chỉ email(*)</p>
            <input type="text" class="input-primary input-contact-infor"/>
        </div>
        <div class="row">
            <p class="label-input">Địa chỉ</p>
            <input type="text" class="input-primary input-contact-infor"/>
        </div>
    </div>
    <div class="booking-contact">
        <h4>2. Thông tin hành khách</h4>
        <div class="row passenger-infor">
            <div class="col-md-4">
                <p>Người lớn 1 (*)</p>
            </div>
            <div class="col-md-4">
                <select class="input-normal">
                    <option>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Họ và tên" class="input-normal"/>
            </div>
        </div>
        <div class="row passenger-infor">
            <div class="col-md-4">
                <p>Người lớn 2 (*)</p>
            </div>
            <div class="col-md-4">
                <select class="input-normal">
                    <option>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Họ và tên" class="input-normal"/>
            </div>
        </div>
        <div class="row passenger-infor">
            <div class="col-md-4">
                <p>Trẻ em 1 (*)</p>
            </div>
            <div class="col-md-4">
                <select class="input-normal">
                    <option>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Họ và tên" class="input-normal"/>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-round float-right">Tiếp tục đặt vé</button>
    </div>
</div>