<div id="booking-result" class="main-container">
    <h4><i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;&nbsp;Thông tin vé của bạn, kiểm tra thông tin và nhấn hoàn tất đặt vé</h4>
    <hr/>
    <div>
        <h4 class="trip-title"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            &nbsp;&nbsp;Chặng bay đi
            <strong>{{data.departTicket.depart.name}}</strong> đến <strong>{{data.departTicket.arrive.name}}</strong>
        </h4>
        <table>
            <tbody>
            <tr>
                <td>Từ <strong>{{data.departTicket.depart.name}}</strong></td>
                <td>Đến <strong>{{data.departTicket.arrive.name}}</strong></td>
                <td>Hãng: <strong>LotusAirline</strong></td>
            </tr>
            <tr>
                <td><strong>{{getTime(data.departTicket.departAt)}}</strong>,
                    {{getDate(data.departTicket.departAt)}}
                </td>
                <td><strong>{{getTime(data.departTicket.arriveAt)}}</strong>,
                    {{getDate(data.departTicket.arriveAt)}}
                </td>
                <td>Hạng vé: <strong>{{data.departTicket.class}}</strong></td>
            </tr>
            <tr>
                <td>Sân bay: {{data.departTicket.depart.code}}</td>
                <td>Sân bay: {{data.departTicket.arrive.code}}</td>
                <td>Chuyến bay: <strong>{{data.departTicket.code}}</strong></td>
            </tr>
            </tbody>
        </table>
        <div ng-show="data.type == 'round-trip'">
            <h4 class="trip-title"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                &nbsp;&nbsp;Chặng bay về
                <strong>{{data.departTicket.arrive.name}}</strong> đến
                <strong>{{data.departTicket.depart.name}}</strong>
            </h4>
            <table>
                <tbody>
                <tr>
                    <td>Từ <strong>{{data.returnTicket.depart.name}}</strong></td>
                    <td>Đến <strong>{{data.returnTicket.arrive.name}}</strong></td>
                    <td>Hãng: <strong>LotusAirline</strong></td>
                </tr>
                <tr>
                    <td><strong>{{getTime(data.returnTicket.departAt)}}</strong>,
                        {{getDate(data.returnTicket.departAt)}}
                    </td>
                    <td><strong>{{getTime(data.returnTicket.arriveAt)}}</strong>,
                        {{getDate(data.returnTicket.arriveAt)}}
                    </td>
                    <td>Hạng vé: <strong>{{data.returnTicket.class}}</strong></td>
                </tr>
                <tr>
                    <td>Sân bay: {{data.returnTicket.depart.code}}</td>
                    <td>Sân bay: {{data.returnTicket.arrive.code}}</td>
                    <td>Chuyến bay: <strong>{{data.returnTicket.code}}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr/>
        <table>
            <thead>
            <tr>
                <th>Hành khách</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th>Thuế &amp; Phí</th>
                <th>Tổng cộng</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Hành khách</td>
                <td>{{bookingInfor.passengers.length}}</td>
                <td>{{formatMoney(data.departTicket.price + data.returnTicket.price)}} VNĐ</td>
                <td>0 VNĐ</td>
                <td>{{formatMoney(data.departTicket.price + data.returnTicket.price)}} VNĐ</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="2" style="color: #3074C5"><strong>Tổng cộng: {{formatMoney(data.departTicket.price +
                    data.returnTicket.price)}} VNĐ</strong></td>
            </tr>
            </tbody>
        </table>
        <hr/>
        <table class="subtable" cellspacing="0" width="100%">
            <tbody>
            <tr>
                <td>
                    <h4>Điều kiện hành lý</h4>
                    <p>Hành lý xách tay : Mỗi hành khách (ngoại trừ em bé) được phép mang 01 kiện hành
                        lý xách tay chính và 01 kiện hành lý xách tay nhỏ với tổng trọng lượng tối đa
                        không
                        vượt quá 07kg
                        <br>* Kiện hành lý xách tay chính có kích thước tối đa 56cm x 36cm x 23cm
                        <br>* Kiện hành lý xách tay nhỏ (bao gồm những túi sau)
                        <br>+ 01 túi xách phụ nữ hoặc sách, tạp chí, máy ảnh, túi đựng thức ăn cho em
                        bé,
                        túi
                        mua hàng tại sân bay...có kích thước không quá 30cm x 20cm x 10cm
                        <br>+ 01 túi đựng áo khoác có kích thước tối đa khi mở ra không quá 114cm x 60cm
                        x
                        11cm
                        <br>+ 01 túi đựng máy tính xách tay có khích thước tối đa là 40cm x 30cm x 10cm
                        <br><br>Hành lý ký gửi : Vui lòng chọn bước sau

                        <strong><br><br>ĐIỀU KIỆN GIÁ VÉ<br></strong>

                        * Hoàn vé : Không được phép
                        <br>*Đổi hành trình : Phí đổi
                        <br>+ Chênh lêch giá vé (nếu có)
                        <br>*Đổi tên, ngày giờ bay : Phí đổi
                        <br>+ Chênh lêch giá vé (nếu có)
                        <br><strong>(Mọi thay đổi phải thực hiện tối thiểu trước giờ khởi hành
                            4h)</strong>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr/>
    <div>
        <h4>Thông tin hành khách</h4>
        <table>
            <tbody>
            <tr ng-repeat="passenger in bookingInfor.passengers">
                <td>Hành khách {{$index + 1}}</td>
                <td>{{passenger.firstName}} {{passenger.lastName}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="ticket-cost">
        <h2>Giá vé: {{formatMoney(data.departTicket.price + data.returnTicket.price)}} VNĐ</h2>
    </div>
    <div>
        <hr/>
        <h4><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;&nbsp;Chọn phương thức thanh toán</h4>
        <select class="input-default" style="margin: 20px;">
            <option>Thanh toán bằng tiền mặt</option>
            <option>Thanh toán bằng thẻ thanh toán nội địa</option>
            <option>Thanh toán bằng thẻ Visa/MasterCard</option>
        </select>
    </div>
    <button class="btn btn-round float-right" ng-click="submitBooking()">Hoàn tất đặt vé</button>
</div>
<!--Ticket info dialog-->
<div class="modal fade" id="TicketInfoModal" role="dialog">
    <div class="modal-dialog login-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="center-text modal-title-custom">Đặt vé thành công</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../img/qrcode.png">
                    </div>
                    <div class="col-md-8">
                        <h2 class="ticket-id">Mã vé của bạn: {{ticketID}}</h2>
                        <p><strong>Vui lòng giữ mã vé để làm thủ tục khi đến sân bay!</strong>
                            <br>Quý khách lưu ý đến trước 30 phút để làm thủ tục</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="center-text">Mọi thông tin chi tiết vui lòng liên hệ <strong>1900 2122</strong></p>
            </div>
        </div>
    </div>
</div>