@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,300italic,500,500italic,700,700italic,900,900italic,100,100italic&subset=latin,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700italic,300,400italic,300italic&subset=latin,vietnamese);

body {
    background-color: #fff;
    font: 400 14px "Roboto", "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #424242;
    margin: 0;
    padding: 0px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

div {
    display: block;
}

.main-header {
    width: 100%;
    height: 230px;
    background: url("../img/header-bg.jpg") repeat;
    display: inline-block;
}

.main-header h1, h5 {
    color: #FFFFFF !important;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

.logo-img img {
    margin: auto;
    top: 20px;
    left: 0;
    right: 0;
    position: absolute;
}

h5 {
    padding: 0px;
}

.main-container {
    width: 868px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    overflow: hidden;
}

.input-primary {
    width: 100%;
    margin-bottom: 15px;
}

input[type="radio"] {
    height: auto;
}

input[type="radio"]:checked {
    background-color: #ff5640;
}

.input-default {
    height: 50px;
    width: 400px !important;
    background-color: #FFF !important;
    border: solid #3074C5 2px !important;
    padding: 6px 16px;
}

.input-selection-box {
    padding: 8px 16px 8px 100px !important;
    font-size: 18px !important;
    font-weight: bold;
}

.selection-option {
    height: 30px;
    padding-left: 20px;
}

.location-picker {
    display: inline-block;
}

.radio .radio-opt {
    margin-right: 20px;
}

.location-picker-title {
    position: absolute;
    padding: 14px 14px;
    height: 50px;
    font-size: 16px;
    opacity: 0.5;
    z-index: 1000;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center !important;
    padding: 7px 5px !important;
    font-size: 12px !important;
    line-height: 2.00;
    border-radius: 30px !important;
    background-color: #eee !important;
    border: none !important;
    color: #3074C5 !important;
}

.btn-round {
    height: 45px;
    width: 200px;
    border-radius: 30px !important;
    background-color: #3074C5;
    color: #FFFFFF;
    text-align: center !important;
    padding: 10px !important;
}

.btn-circle:hover {
    background-color: #3074C5 !important;
    color: #FFFFFF !important;
    border: none !important;
}

.col-md-3 .float-right {
    margin-top: -5px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.number-people {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    color: #3074C5;
}

.radio-default {
    height: 30px;
    width: 3px;
    border-radius: 15px;
    background-color: #eeeeee;
}

.date-return {
    margin-left: 28px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px !important;
}

.block-week ul.block-content-change-date > li {
    border-right: 1px solid #e5e5e5;
    display: inline-block;
    font-size: 12px;
    margin-right: -3px;
    padding: 10px 21px;
    text-align: center;
    width: 118px;
}

.block-week ul.block-content-change-date > li.active {
    background: #3074C5;
    color: #FFFFFF;
}

.table-col-row {
    background-color: #e5e5e5;
}

.ticket-price {
    color: #ff5640;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
    margin: 0 auto;
}

.ticket-place {
    opacity: 0.54;
}

td .btn-round {
    width: auto !important;
    height: 30px !important;
    padding: 0px 16px !important;
    float: right;
}

.i-result {
    height: 56px;
}

.ticket-row.first-child {
    margin-top: 20px;
}

.ticket-detail {
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    padding: 16px;
    color: #000;
    position: absolute;
    right: 55px;
    top: 261px;
    width: 220px;
    margin-bottom: 40px;
}

.input-contact-infor {
    width: 500px;
    border: 1px solid #e0e0e0;
    height: 40px;
    margin-left: 20px;
    padding: 4px 16px;
}

.input-normal {
    border: 1px solid #e0e0e0;
    height: 40px;
    margin-left: 20px;
    padding: 4px 16px;
}

.label-input {
    width: 200px;
    text-align: right;
    float: left;
}

.booking-contact h4 {
    color: #3074C5;
    margin: 20px 0;
}

.passenger-infor {
    margin: 20px 0px;
}

.ticket-cost {
    border: 2px dashed #3074C5;
    height: 60px;
    width: 100%;
    color: #3074C5;
    text-align: center;
    padding: 12px;
    margin: 20px 0;
    background-color: #e0e0e0;
}

.ticket-cost h2 {
    color: #ff5640;
    margin: 0 auto;
}

.date-picker {
    margin-top: 36px;
}

.trip-title {
    height: 40px;
    padding: 10px 10px;
    color: #FFFFFF;
    background-color: #3074C5;
    margin-bottom: 20px;
}

.ticket-detail h5 {
    color: #3074C5 !important;
}

.ticket-detail h4 {
    color: #ff5640;
    font-weight: bold;
}

.not-found {
    width: 100%;
    text-align: center;
    color: #757575;
    margin: 40px;
}

.ticket-table {
    margin-bottom: 20px;
}

.modal-dialog.login-modal {
    width: 700px;
}

.center-text {
    text-align: center;
}

.modal-title-custom {
    font-weight: bold;
    font-size: 17px;
}

.modal-footer {
    background: #FAFAFA;
    border-radius: 0 0 4px 4px;
    padding: 8px;
    font-weight: 400;
}

.modal-dialog .modal-body {
    box-shadow: none !important;
    padding: 10px;
    margin: 12px 8px 10px 8px;
    overflow: hidden;
}

.ticket-id {
    color: #3074C5;
}

.login-container {
    width: 400px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.input-login {
    margin-bottom: 10px;
}

.btn-login {
    margin: 0 auto !important;
}

.message-error {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #c7254e;
}