<div class="container">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#/admin/"><i class="fa fa-plane" aria-hidden="true"></i> Flights</a>
        </li>
        <li role="presentation"><a href="#/admin/booking">Bookings</a></li>
        <li role="presentation"><a href="#/admin/route">Routes</a></li>
    </ul>


    <div style="margin-top: 20px" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-plane" aria-hidden="true"></i> Add new flight</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="departureCountry">Country:</label>
                        <select ng-sel class="form-control" ng-model="departureCountry" id="departureCountry">
                            <option ng-repeat="departure in departures" value="{{$index}}">{{departure.country}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="departureAirports">Departure airport:</label>
                        <select class="form-control" ng-model="flight.depart" id="departureAirports">
                            <option ng-repeat="airport in departureAirports" value="{{airport.code}}">{{airport.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="arrivalCountry">Country:</label>
                        <select class="form-control" ng-model="arrivalCountry" id="arrivalCountry">
                            <option ng-repeat="arrival in arrivals" value="{{$index}}">{{arrival.country}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="arrivalAirports">Arrival airport:</label>
                        <select class="form-control" ng-model="flight.arrive" id="arrivalAirports">
                            <option ng-repeat="airport in arrivalAirports" value="{{airport.code}}">{{airport.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div style="margin: 0px" ng-show="routeMessage" class="row">
                <div class="alert alert-danger" role="alert">
                    <p ng-bind="routeMessage"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="departureDateTime">Departure date time:</label>
                        <input ng-model="departAt" value="2016-10-25T13:11:30" class="form-control"
                               id="departureDateTime" type="datetime-local"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="arrivalDateTime">Arrival date time:</label>
                        <input ng-model="arriveAt" value="2016-10-25T13:11:30" class="form-control" id="arrivalDateTime"
                               type="datetime-local"/>
                    </div>
                </div>
            </div>

            <div class="row" style="padding: 15px">
                <table class="table">
                    <label for="departureDateTime">Tickets</label>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Class</th>
                        <th>Price level</th>
                        <th>The number of seat</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ticket in tickets">
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{ticket.class}}</td>
                        <td>{{ticket.priceLevel}}</td>
                        <td>{{ticket.numberOfSeat}}</td>
                        <td>{{ticket.price}}</td>
                        <td>
                            <button class="btn"><i class="fa fa-edit" aria-hidden="true"></i></button>
                            <button ng-click="removeTicket($index)" class="btn"><i class="fa fa-trash"
                                                                                   aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <select ng-model="ticket.class" class="form-control">
                                <option value="C">C</option>
                                <option value="Y">Y</option>
                            </select>
                        </td>
                        <td>
                            <select ng-model="ticket.priceLevel" class="form-control">
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                            </select>
                        </td>
                        <td>
                            <input ng-model="ticket.numberOfSeat" min="10" class="form-control" type="number"/>
                        </td>
                        <td>
                            <input ng-model="ticket.price" min="0" class="form-control" type="number"/>
                        </td>
                        <td>
                            <button ng-click="addTicket()" class="btn btn-primary">Add</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary" ng-click="addNewFlight()">Save</button>
                    <button class="btn btn-warning" ng-click="resetForm()">Reset</button>
                </div>
                <div class="col-md-8">
                    <p ng-bind="message"></p>
                </div>
            </div>

        </div>
    </div>
</div>
